TrainedModel/yolov3_ckpt_98_n1.pth filter=lfs diff=lfs merge=lfs -text
PretrainedWeights/darknet53.conv.74 filter=lfs diff=lfs merge=lfs -text
Android-App/CarDamageDetector/app/src/main/assets/model.pt filter=lfs diff=lfs merge=lfs -text
